<div class="modal show" role="dialog" style="background:whte;">  
            <div class="modal-header">  
                <h3>登录</h3>  
                <p>请输入用户名和密码</p>  
            </div>  
        <div class="modal-body">  
            <form action=""  accept-charset="utf-8">   
                <table class="table">  
                    <tr>  
                        <td>用户名</td>  
                        <td><input type="text" name="username" value=""  ng-model="user.username" /></td>  
                    </tr>  
                    <tr>  
                        <td>密码</td>  
                        <td><input type="password" name="password" value=""   ng-model="user.password"/></td>  
                    </tr>  
                    <tr>  
                        <td></td>  
                        <td><input type="submit"  ng-click="tijiao(user);" value="登入" class="btn btn-primary" /></td>  
                    </tr>  
                </table>  
            </form>  
        </div>  
        <div class="modal-footer">  
            zzc
        </div>  
    </div>  